body {
  background-color: grey;
  margin: 0;
  min-height: 100%;

}

#meny>li {
  background: #929292;
  padding: 20px;
  display: inline-block;
  width: 120px;

}

h1 {
  margin: 15px 0 20px 0;
  text-align: center;
  width: 100%;
}

.artikkel {
  width: 60%;
  margin: 0 auto;
}

.artikkel>h3 {
  text-align: center;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

footer>p {
  display: inline-block;
}

#meny {
  text-align: center;
list-style-type: none;
padding: 0;
}
.ark{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}
